/* @font-face {
    font-family: Gazpacho;
    src: url(/fonts/GazpachoRegular.otf);
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gazpacho;
    src: url(/fonts/GazpachoBold.otf);
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Gazpacho;
    src: url(/fonts/GazpachoHeavy.otf);
    font-weight: 800;
    font-style: normal
} */

/* @font-face {
    font-family: Gazpacho;
    src: url(../../../fonts/GazpachoBlack.otf);
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: Oswald;
    src: url('../font/TK3iWkUHHAIjg752GT8G.woff2');
    font-weight: 300;
    font-style: normal
} */

/* latin-ext */
@font-face {
    font-family: WorkSans;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../font/DQBi8JoI3ZKyHaQQ.woff') format('woff2');
  }
  /* latin */
  @font-face {
    font-family: ChangaOne;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../font/EeA.woff2') format('woff2');
  }
  @font-face {
    font-family: bootstrap-icons;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../font/bootstrap-icons.woff2') format('woff2');
  }
